<% include depend %>

<% include sidebar %>

<link rel="stylesheet" href="/styles/jquery-cron.css">

<div class="col-lg-offset-3 col-lg-9 main-content">
  <div class="row title">
    <div class="col-lg-12">
      <h1><a href="#" data-toggle="modal" data-target="#addIncidentModal" class="btn btn-primary"><i class="fa fa-plus"></i> New Incident</a>Incidents</h1>
    </div>
  </div>
  <% if (typeof incidents == 'undefined' || incidents.length == 0) { %>
    <div class="row">
      <div class="col-lg-12">
        <center>
          <div class="empty">
            <h1>No Incidents</h1>
            <p>
              Create a new incident to keep your team and your customers informed.
            </p>
            <a href="#" data-toggle="modal" data-target="#addIncidentModal" class="btn btn-primary"><i class="fa fa-plus"></i> New Incident</a>
          </div>
        </center>
      </div>
    </div>
  <% } else { %>
    <% for (var i = 0; i < incidents.length; i++) { %>
      <div class="row incident">
        <div class="col-lg-12">
          <div class="title">
            <h1><%= incidents[i].title %></h1>
            <a href="/incidents/<%= incidents[i].id %>/edit" class="btn btn-default"><i class="fa fa-edit"></i> Edit</a>
            <h3><%= incidents[i].status %></h3>
          </div>
          <div class="content">
            <h3>Affected Monitors</h3>
            <ul>
              <% for (var j = 0; j < incidents[i].monitors.length; j++) { %>
                <li>
                  <%= incidents[i].monitors[j].name %>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
      <hr />
    <% } %>
  <% } %>
</div>

<!-- Add Monitor Modal -->
<div class="modal fade" id="addIncidentModal" tabindex="-1" role="dialog" aria-labbeledby="addIncidentModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addIncidentModalLabel">New Incident</h4>
      </div>
      <div class="modal-body">
        <form>
          <label for="title">Incident Title</label>
          <div class="input-group">
            <span class="input-group-addon" id="title-addon"><i class="fa fa-id-badge"></i></span>
            <input id="title" type="text" class="form-control" placeholder="Service Interruption" aria-describedby="title-addon" />
          </div>
          <label for="status">Incident Status</label>
          <select id="status" class="form-control">
            <option value="Identified">Identified</option>
            <option value="Monitoring">Monitoring</option>
            <option value="Resolved">Resolved</option>
            <option value="Update">Update</option>
            <option value="Scheduled">Scheduled</option>
            <option disabled="disabled"></option>
            <option value="None">None</option>
          </select>
          <label>Affected Monitors</label>
          <div class="row">
            <div class="col-lg-6">
              <a href="#" id="checkAll" class="btn btn-primary btn-sm btn-block">Check All</a>
            </div>
            <div class="col-lg-6">
              <a href="#" id="uncheckAll" class="btn btn-default btn-sm btn-block">Uncheck All</a>
            </div>
          </div>
          <div id="checkboxes">
            <% for (var i = 0; i < monitors.length; i++) { %>
              <div class="checkbox" style="margin-top: 0px;">
                <label>
                  <input id="check-<%= i %>" value="<%= monitors[i].id %>" type="checkbox" /> <%= monitors[i].name %>
                </label>
              </div>
            <% } %>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
        <a href="#" id="createIncidentButton" type="button" class="btn btn-success"><i class="fa fa-save"></i> Create Incident</a>
      </div>
    </div>
  </div>
</div>

<script src="/js/pages/incidents.js"></script>
