<% include depend %>

<% include sidebar %>
<div class="col-lg-offset-3 col-lg-9 main-content">
  <div class="row title">
    <div class="col-lg-12">
      <h1>Integrations <a href="#" data-toggle="modal" data-target="#addIntegrationModal" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add Integration</a><a href="#" data-toggle="modal" data-target="#helpModal" class="btn btn-warning pull-right"><i class="fa fa-question"></i> Help</a></h1>
    </div>
  </div>

  <% if (integrations.length == 0) { %>
    <div class="row">
      <div class="col-lg-12">
        <center>
          <div class="empty">
            <h1>No Integrations</h1>
            <p>
              Create your first integrations to begin recieving updates using <a href="https://ifttt.com/">IFTTT</a>.
            </p>
            <a href="#" data-toggle="modal" data-target="#addIntegrationModal" class="btn btn-primary"><i class="fa fa-plus"></i> Add Integration</a>
          </div>
        </center>
      </div>
    </div>
  <% } else { %>
    <% for (var i = 0; i < integrations.length; i++) { %>
      <div class="row monitor">
        <div class="col-lg-12">
          <h2><%= integrations[i].name %></h2>
          <code><%= integrations[i].webhook %></code>
          <h3>Monitors</h3>
          <ul>
            <% for (var j = 0; j < integrations[i].foundMonitor.length; j++) { %>
              <li>
                <%= integrations[i].foundMonitor[j].name %>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
      <hr />
    <% } %>
  <% } %>
</div>

<div class="modal fade" id="addIntegrationModal" tabindex="-1" role="dialog" aria-labbeledby="addIntegrationTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addIntegrationTitle">Add Integration</h4>
      </div>
      <div class="modal-body">
        <form>
          <label for="name">Integration Name</label>
          <div class="input-group">
            <span class="input-group-addon" id="name-addon"><i class="fa fa-id-badge"></i></span>
            <input id="name" type="text" class="form-control" placeholder="Slack" aria-describedby="name-addon" />
          </div>
          <label for="targetURL">Webhook</label>
          <div id="targertULRGroup" class="input-group">
            <span class="input-group-addon" id="url-addon"><i class="fa fa-bullseye"></i></span>
            <input id="targetURL" type="text" class="form-control" placeholder="http://hindsite.io" aria-descibredby="url-addon" />
          </div>
          <span id="helpBox" class="help-block"></span>
          <label>Monitors to Notify</label>
          <div id="checkboxes">
            <% for (var i = 0; i < monitors.length; i++) { %>
              <div class="checkbox" style="margin-top: 0px;">
                <label>
                  <input id="check-<%= i %>" value="<%= monitors[i].id %>" type="checkbox" /> <%= monitors[i].name %>
                </label>
              </div>
            <% } %>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i>Cancel</button>
        <a href="#" id="addIntegrationButton" type="button" class="btn btn-success"><i class="fa fa-save"></i>Add Integration</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labbeledby="helpModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="helpModal">Integration Help</h4>
      </div>
      <div class="modal-body">
        <h3>General</h3>
        <p>
          When an event occurs that prompts a notification, the Hindsite will make a <code>POST</code> request to the webhooks of all the subscribed notifications.
        </p>
        <p>
          You can either provide your own webhooks connected to your own infrastructure, or use <a href="https://ifttt.com">IFTTT</a>.  The data is sent in the following JSON format: <code>{ "value1": message }</code>, which is exactly how IFTTT likes it.
        </p>
        <h3>IFTTT</h3>
        <p>
          In order to use IFTTT, you need to connect the <a href="https://ifttt.com/maker">Maker</a> service. Then create a <a href="https://ifttt.com/create">new</a> applet, with the <em>this</em> being Maker <strong>Recieve a web request</strong>.  The <em>then</em> can be anything you choose.
        </p>
        <p>
          In order to get the webhhook URL, go to <a href="https://ifttt.com/services/maker/settings">your Maker settings</a>. There should be a <em>URL</em> under Account Info. Go to that <em>URL</em>. The URL should look something along the lines of <code>https://maker.ifttt.com/trigger/{event}/with/key/...</code>, where the <em>event</em> is what you titled your applet. That is the <em>URL</em> to use in Hindsite.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/pages/integrations.js"></script>
