<% include components/depend %>

<% include components/navbar %>

<% include components/sidebar %>

<link rel="stylesheet" href="/styles/jquery-cron.css">

<div class="col-lg-offset-3 col-lg-9 main-content">
  <div class="row title">
    <div class="col-lg-12">
      <h1><a href="#" data-toggle="modal" data-target="#addMonitorModal" class="btn btn-primary"><i class="fa fa-plus"></i> Add Monitor</a>Monitors</h1>
    </div>
  </div>
  <% if (monitors.length == 0) { %>
    <div class="row">
      <div class="col-lg-12">
        <center>
          <div class="empty">
            <h1>No Monitors</h1>
            <p>
              Create your first monitor to begin recieving updates.
            </p>
            <a href="#" data-toggle="modal" data-target="#addMonitorModal" class="btn btn-primary"><i class="fa fa-plus"></i> Add Monitor</a>
          </div>
        </center>
      </div>
    </div>
  <% } else { %>
    <% for (var i = 0; i < monitors.length; i++) { %>
      <div class="row monitor">
        <div class="col-lg-4 col-xs-12">
          <center>
            <h2><a href="/monitors/view/<%= monitors[i].id %>"><%= monitors[i].name %></a></h2>
            <h4><a href="<%= monitors[i].targetURL %>"><%= monitors[i].targetURL %></a></h4>
          </center>

        </div>
        <div class="col-lg-4 col-xs-6">
          <center>
            <h4>Current Health</h4>
            <h2 id="<%= monitors[i].id %>-health">
            <% if (monitors[i].health == "Healthy") { %>
              <span class="has-success">
            <% } else if (monitors[i].health == "Rocky") { %>
              <span class="has-danger">
            <% } else if (monitors[i].health == "Sick") { %>
              <span class="has-error">
            <% } else { %>
              <span>
            <% } %>
            <%= monitors[i].health %></span>
            </h2>
          </center>
        </div>
        <div class="col-lg-4 col-xs-6">
          <center>
            <h4>Avg. Response Time</h4>
            <h2 class="black">
              <strong id="<%= monitors[i].id %>-art"><%= monitors[i].averageResponseTime %></strong> ms
            </h2>
          </center>
        </div>
      </div>
      <hr />
    <% } %>
  <% } %>
</div>

<!-- Add Monitor Modal -->
<div class="modal fade" id="addMonitorModal" tabindex="-1" role="dialog" aria-labbeledby="addMonitorModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addMonitorModalLabel">Add Monitor</h4>
      </div>
      <div class="modal-body">
        <form>
          <label for="name">Monitor Name</label>
          <div class="input-group">
            <span class="input-group-addon" id="name-addon"><i class="fa fa-id-badge"></i></span>
            <input id="name" type="text" class="form-control" placeholder="API Monitor" aria-describedby="name-addon" />
          </div>
          <label for="targetURL">Target URL</label>
          <div id="targertULRGroup" class="input-group">
            <span class="input-group-addon" id="url-addon"><i class="fa fa-bullseye"></i></span>
            <input id="targetURL" type="text" class="form-control" placeholder="http://hindsite.io" aria-descibredby="url-addon" />
          </div>
          <span id="helpBox" class="help-block"></span>
          <label for="healthyRange">Healthy Range</label>
          <div class="input-group">
            <input class="form-control" id="healthyRange" type="number" value="1000" />
            <span class="input-group-addon" id="range-addon">ms</span>
          </div>
          <span class="help-block">If the average ping is below this, the monitor will report healthy.</span>
          <label for="rockyRange">Rocky Range</label>
          <div class="input-group">
            <input class="form-control" id="rockyRange" type="number" value="2000" />
            <span class="input-group-addon" id="range-addon">ms</span>
          </div>
          <span class="help-block">If the average ping is below this, the monitor will report rocky. Anything above will report sick, in addition if the last ping recieved is not a <em>200</em> or <em>302</em>.</span>
          <label for="pingsInAverage">Pings in Average</label>
          <div class="input-group">
            <input class="form-control" id="pingsInAverage" type="number" value="100" />
            <span class="input-group-addon" id="range-addon">pings</span>
          </div>
          <span class="help-block">The amount of pings used to calculate the average.</span>
          <label for="cron">Frequency</label>
          <div id="cron">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i>Cancel</button>
        <a href="#" id="addMonitorButton" type="button" class="btn btn-success"><i class="fa fa-save"></i>Add Monitor</a>
      </div>
    </div>
  </div>
</div>

<script src="/js/other/jquery-cron-min.js"></script>
<script src="/js/dependencies/sails.io.js"></script>
<script>
io.socket.on('connect', function socketConnected() {
  console.log("connected");
  io.socket.get('/socket/watch/monitors', function(data, jwers) {

  });

  <% for(var i = 0; i < monitors.length; i++) { %>
    io.socket.on('<%= monitors[i].id %>', function(msg) {
      var health = document.getElementById('<%= monitors[i].id %>-health');
      var builder = "";
      switch (msg.health) {
        case "Healthy":
          builder += '<span class="has-success">';
          break;
        case "Rocky":
          builder += '<span class="has-danger">';
          break;
        default:
          builder += '<span class="has-error">';
          break;
      }
      health.innerHTML = builder + msg.health + '</span>';
      document.getElementById('<%= monitors[i].id %>-art').innerHTML = msg.averageResponseTime;
    });
  <% } %>
});
</script>
<script src="/js/pages/monitors.js"></script>
