<% include components/depend %>

<% include components/navbar %>

<script>
var monitorID = "<%= monitor.id %>";
</script>

<div class="col-lg-12 main-content">
  <div class="row title">
    <div class="col-lg-12 heading bordered">
      <h1><%= monitor.name %> Pings</h1>
    </div>
  </div>

  <div class="row monitor-header">
    <div class="col-lg-3 col-xs-3">
      <h3>Date</h3>
    </div>
    <div class="col-lg-3 col-xs-3">
      <h3>Status</h3>
    </div>
    <div class="col-lg-3 col-xs-3">
      <h3>Response Time</h3>
    </div>
    <div class="col-lg-3 col-xs-3">
      <h3>Target URL</h3>
    </div>
  </div>
  <% for (var i = 0; i < pings.length; i++) { %>
    <div class="row monitor bordered">
      <div class="col-lg-3 col-xs-3">
        <h3><a class="btn btn-outline-<% if (pings[i].status != 200 && pings[i].status != 302) { %>error<% } else { %>success<% } %>" href="/monitors/view/<%= monitor.id %>/details/ping/<%= pings[i].id %>"><%= pings[i].createdAt %></a></h3>
      </div>
      <div class="col-lg-3 col-xs-3">
        <h3><%= pings[i].status %></h3>
      </div>
      <div class="col-lg-3 col-xs-3">
        <h3><%= pings[i].elapsedTime %> ms</h3>
      </div>
      <div class="col-lg-3 col-xs-3">
        <h3><a <% if (pings[i].status != 200 && pings[i].status != 302) { %>class="has-error"<% } %> href="<%= pings[i].targetURL %>"><%= pings[i].targetURL %></a></h3>
      </div>
    </div>
  <% } %>
</div>
