<% include depend %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>

<% include sidebar %>
<div class="col-lg-offset-3 col-lg-9 main-content">
    <div class="row">
      <div class="col-lg-12">
        <h1>Settings</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h2>Personal</h2>
        <form>
          <label for="email">Email</label>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope"></i></span>
            <input id="email" type="email" class="form-control" value="<%= user.username %>" aria-describedby="basic-addon1" />
          </div>
          <label for="firstName">First Name</label>
          <div class="input-group">
            <span class="input-group-addon" id="firstName-addon">F</span>
            <input id="firstName" type="text" class="form-control" value="<%= user.firstName %>" aria-describedby="firstName-addon" />
          </div>
          <label for="lastName">Last Name</label>
          <div class="input-group">
            <span class="input-group-addon" id="lastName-addon">L</span>
            <input id="lastName" type="text" class="form-control" value="<%= user.lastName %>" aria-describedby="lastName-addon" />
          </div>
          <label for="password">Password</label>
          <div id="passwordGroup" class="input-group">
            <span class="input-group-addon" id="password-addon"><i class="fa fa-lock"></i></span>
            <input id="password" type="password" class="form-control" placeholder="*********" aria-describedby="password-addon" />
          </div>
          <label for="confirmPassword">Confirm Password</label>
          <div id="confirmationGroup" class="input-group">
            <span class="input-group-addon" id="confirmPassword-addon"><i class="fa fa-lock"></i></span>
            <input id="confirmPassword" type="password" class="form-control" placeholder="*********" aria-describedby="confirmPassword-addon" />
          </div>
          <span id="helpBox" class="help-block"></span>
          <a href="#" id="generalSaveButton" class="btn btn-success btn-block" style="margin-top: 15px;"><i class="fa fa-save"></i> Save</a>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h2>App Wide</h2>
        <form>
          <label for="appName">App Name</label>
          <div class="input-group">
            <span class="input-group-addon" id="appname-addon"><i class="fa fa-id-badge"></i></span>
            <input id="appName" type="text" class="form-control" value="<%= dash.name %>" aria-describedby="appname-addon" />
          </div>
          <label for="secretKey">Secret Key</label>
          <div class="input-group">
            <span class="input-group-addon" id="confirmPassword-addon"><i class="fa fa-user-secret"></i></span>
            <input id="secretKey" type="text" class="form-control" value="<%= dash.signupkey %>" aria-describedby="confirmPassword-addon" />
          </div>
          <label for="trackingCode">Tracking Code</label>
          <div class="input-group">
            <textarea id="trackingCode" class="form-control" rows="3"><% if (dash.trackingCode != undefined) { %><%= dash.trackingCode %><% } %></textarea>
          </div>
          <div class="checkbox">
            <label>
              <input id="frontend" type="checkbox" <% if (dash.frontend == undefined || !dash.frontend) { %>un<% } %>checked> Front End Reporting
            </label>
          </div>
          <span class="help-block">Enable the front end for reporting status to customers and other end users. Otherwise, it will automatically redirect to the dashboard if logged in.</span>
          <a href="#" id="appSaveButton" class="btn btn-success btn-block" style="margin-top: 15px;"><i class="fa fa-save"></i> Save</a>
        </form>
      </div>
    </div>
</div>

<script src="/js/pages/settings.js"></script>
