<% include components/depend %>

<% include components/navbar %>

<% include components/sidebar %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">

<div class="col-lg-offset-3 col-lg-9 main-content">
  <div class="row title">
    <div class="col-lg-12 bordered heading">
      <h1>Ping: <%= ping.createdAt %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 bordered monitor-tab">
      <h3>Status</h3>
      <h1>
        <%= ping.status %>
      </h1>
    </div>
    <div class="col-lg-4 bordered monitor-tab">
      <h3>Response Time</h3>
      <h1><%= ping.elapsedTime %> ms</h1>
    </div>
    <div class="col-lg-4 bordered monitor-tab">
      <h3>Target URL</h3>
      <h1><a href="<%= ping.targetURL %>"><%= ping.targetURL %></a></h1>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-lg-12">
      <pre>
        <code class="json">
          <%= ping.rawResponse %>
        </code>
      </pre>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/json.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/javascript.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
