<% include depend %>

<% include sidebar %>

<link rel="stylesheet" href="/styles/jquery-cron.css">

<script>
var monitorID = "<%= monitor.id %>";
</script>

<div class="col-lg-offset-3 col-lg-9 main-content">
  <div class="row title">
    <div class="col-lg-12">
      <h1><%= monitor.name %><a href="#" data-toggle="modal" data-target="#editMonitorModal" class="btn btn-primary btn-sm pull-right"><i class="fa fa-edit"></i> Edit Monitor</a></h1>
      <h3>
        <a href="<%= monitor.targetURL %>"><%= monitor.targetURL %></a>
      </h3>
    </div>
  </div>
  <div class="row monitor">
    <div class="col-lg-6">
      <center>
        <h3>Current Health</h3>
        <h2>
        <% if (monitor.currentHealth == "Healthy") { %>
          <span class="has-success">
        <% } else if (monitor.currentHealth == "Rocky") { %>
          <span class="has-danger">
        <% } else if (monitor.currentHealth == "Sick") { %>
          <span class="has-error">
        <% } %>
        <%= monitor.currentHealth %></span>
        </h2>
      </center>
    </div>
    <div class="col-lg-6">
      <center>
        <h4>Avg. Response Time</h4>
        <h2 class="black">
          <strong><%= monitor.averageResponseTime %></strong> ms
        </h2>
      </center>
    </div>
  </div>
  <hr />
</div>

<!-- Edit Monitor Modal -->
<div class="modal fade" id="editMonitorModal" tabindex="-1" role="dialog" aria-labbeledby="editMonitorModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addMonitorModalLabel">Edit Monitor</h4>
      </div>
      <div class="modal-body">
        <form>
          <label for="name">Monitor Name</label>
          <div class="input-group">
            <span class="input-group-addon" id="name-addon"><i class="fa fa-id-badge"></i></span>
            <input id="name" type="text" class="form-control" value="<%= monitor.name %>" aria-describedby="name-addon" />
          </div>
          <label for="targetURL">Target URL</label>
          <div id="targertULRGroup" class="input-group">
            <span class="input-group-addon" id="url-addon"><i class="fa fa-bullseye"></i></span>
            <input id="targetURL" type="text" class="form-control" value="<%= monitor.targetURL %>" aria-descibredby="url-addon" />
          </div>
          <label for="healthyRange">Healthy Range</label>
          <div class="input-group">
            <input class="form-control" id="healthyRange" type="number" value="<%= monitor.healthRange %>" placeholder="1000"/>
            <span class="input-group-addon" id="range-addon">ms</span>
          </div>
          <span class="help-block">If the average ping is below this, the monitor will report healthy.</span>
          <label for="rockyRange">Rocky Range</label>
          <div class="input-group">
            <input class="form-control" id="rockyRange" type="number" value="<%= monitor.rockyRange %>" placeholder="2000" />
            <span class="input-group-addon" id="range-addon">ms</span>
          </div>
          <span class="help-block">If the average ping is below this, the monitor will report rocky. Anything above will report sick, in addition if the last ping recieved is not a <em>200</em> or <em>302</em>.</span>
          <label for="movingAverage">Pings in Average</label>
          <div class="input-group">
            <input class="form-control" id="pingsInAverage" type="number" value="<%= monitor.movingAverageWindow %>" placeholder="100"/>
            <span class="input-group-addon" id="range-addon">pings</span>
          </div>
          <span class="help-block">The amount of pings used to calculate the average.</span>
          <span id="helpBox" class="help-block"></span>
          <label for="cron">Frequency</label>
          <div id="cron">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i>Cancel</button>
        <a href="#" id="editMonitorButton" type="button" class="btn btn-success"><i class="fa fa-save"></i>Edit Monitor</a>
      </div>
    </div>
  </div>
</div>

<script src="/js/other/jquery-cron-min.js"></script>
<script>
var cronField = $("#cron").cron();
cronField.cron("value", '<%= monitor.frequency %>');
</script>
<script src="/js/pages/viewMonitor.js"></script>
